<?xml version="1.0"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">


  <menuitem name="menu-mission" title="Missions" order="6" icon="fa-tasks" icon-background="#3f6bb9"/>

  <menuitem name="menu-contacts-all" parent="menu-mission"
    title="Contacts" action="contacts.all"/>
  <action-view name="contacts.all" title="Contacts"
    model="com.axelor.apps.base.db.Partner">
    <view type="grid" name="partner-grid"/>
    <view type="form" name="partner-form"/>
    <view type="cards" name="partner-cards"/>
    <domain> self.isContact = TRUE</domain>
  </action-view>

 
  <menuitem name="menu-lot-all" parent="menu-mission" title="Liste des lots" action="lot.all"/>
  <action-view name="lot.all" title="Lots" model="com.axelor.apps.openauction.db.MissionLine">
    <view type="grid" name="mission-line-grid"/>
    <view type="form" name="mission-line-form"/>
  </action-view>


  <action-view name="nature.all" title="Liste des natures de lot" 
    model="com.axelor.apps.openauction.db.LotNature">
    <view type="grid" name="lot-nature-grid"/>
    <view type="form" name="lot-nature-form"/>
  </action-view>

  <action-view name="nature.all" title="Liste des natures de lot"
    model="com.axelor.apps.openauction.db.LotNature">
    <view type="grid" name="lot-nature-grid"/>
    <view type="form" name="lot-nature-form"/>
  </action-view>

  <menuitem name="menu-mission-inventaire-all" parent="menu-mission"
  title="Liste des missions d'inventaire" action="mission.inventaire.all"/>
  <action-view name="mission.inventaire.all" title="Liste des missions"
    model="com.axelor.apps.openauction.db.MissionHeader">
    <view type="grid" name="mission-header-grid"/> 
    <view type="form" name="mission-header-form" />
  </action-view>


  <menuitem name="menu-photo-all" parent="menu-mission"
  title="Liste des photos" action="mission.photo.all"/>
  <action-view name="mission.photo.all" title="Liste des photos"
    model="com.axelor.apps.openauction.db.PictureAttachement">
    <view type="grid" name="picture-attachement-grid"/>
    <view type="form" name="picture-attachement-form" />
  </action-view>

</object-views>
